.logo {
  padding-left: 44px;
  font: 700 24px/31px PT Serif;
  width: 146px;
  height: 32px;
  position: relative;
}
.logo__ellipse {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
}
.logo__ellipse_color_blue {
  background: url('img/ellipse blue.svg');
  left: 8px;
  top: 70%;
}
.logo__ellipse_color_dark-blue {
  background: url('img/ellipse dark-blue.svg');
}
.menu {
  font-family: Roboto;
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}
.main-content__title {
  font-family: PT Serif;
  margin: 246px 191px 40px 0;
}
.main-content__description {
  font-family: Roboto;
  margin: 0 303px 59px 0
}
.main-content__button {
  font-family: Roboto;
  margin: 0 486px 327px 0
}
.wrapper {
  width: 80%;
  margin:auto;
}
.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
