.logo {
  font-family: PT Serif;
}
.menu {
  font-family: Roboto;
}
.main-content__title {
  font-family: PT Serif;
}
.main-content__description {
  font-family: Roboto;
}
.main-content__button {
  font-family: Roboto;
}
